<div class="container mt-5">
  <h1 class="text-center" style="font-size: 50px; color: #005689;">Snackr Trackr</h1>
  <h3 class="text-center" >The feel-good food trackr</h3>
  <br>
  <div class="text-center" >
    <%= button_to "Log in with Google", '/auth/google_oauth2', method: :get, class: "btn btn-secondary btn-lg align-center", style: "background-color: #ff895d;"  %>
  </div>
</div>
